.consoleDisplay:not(:empty) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    word-break: keep-all;
    white-space: pre-wrap;
    max-width: 100%;
}

.consoleInputDisplay {
    display: flex;
    white-space: pre;
    position: relative;
    word-break: keep-all;
}

.commandClass {
    white-space: pre-wrap;
}
.responseClass {
    margin: 4px 0 20px 0;
    color: #00ff00;
}
.boardClass {
    margin: 4px 0 20px 0;
    color: hsl(20, 100%, 72%);
    font-size: 30px;
    font-weight: bold;
}
.boardClassChosen {
    margin: 4px 0 20px 0;
    color: hsl(5, 100%, 72%);
    font-size: 30px;
    font-weight: bold;
}
.errClass {
    margin: 4px 0 20px 0;
    color: #ff5151;
    font-weight: bold;
}
.warnClass {
    margin: 4px 0 20px 0;
    color: #f7eb91;
    font-weight: bold;
    font-size: 20px;
}
.tieClass {
    margin: 4px 0 20px 0;
    color: #f7eb91;
    font-weight: bold;
}
.promptClass {
    margin: 4px 0 20px 0;
    color: hsl(195, 73%, 69%);
    font-weight: bold;
}
.winnerClass {
    margin: 4px 0 20px 0;
    color: #26ac8f;
    font-weight: bold;
}

.nameClass {
    margin: 25px 0 8px 0;
    color: hsl(219, 100%, 67%);
    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;
}
.descriptionClass {
    margin: 0 0 2px 0;
    color: hsl(130, 100%, 79%);
}
.languagesClass {
    margin: 0 0 2px 0;
    color: hsl(31, 73%, 69%);
}
.urlClass {
    display: flex;
    flex-direction: column;
    margin: 0 0 2px 0;
    color: hsl(178, 99%, 66%);
}
.urlClass::after {
    content: '';
    min-width: 100%;
    width: 500px;
    max-width: 100vw;
    height: 1.5px;
    margin-top: 10px;
    background-color: hsl(270, 100%, 50%);
}


.asciiStartClass1 {
    user-select: none;
    color: hsl(195, 33%, 49%);
    font-weight: bold;
    word-break: keep-all;
    white-space: pre;
}
.asciiStartClass2 {
    user-select: none;
    color: hsl(162, 29%, 64%);
    font-weight: bold;
    word-break: keep-all;
    white-space: pre;
}
.asciiStartClass3 {
    user-select: none;
    color: hsl(229, 100%, 82%);
    font-weight: bold;
    word-break: keep-all;
    white-space: pre;
}

.caret {
    display: flex;
    position: absolute;
    left: 220px;
    width: 8.2px;
    height: 14px;
    opacity: 1;
    background-color: white;
    animation: caret 0.7s cubic-bezier(0.21, 0.51, 0.89, 0.56) 0s infinite forwards;
}

.consoleInput {
    z-index: -1000000;
    pointer-events: none;
    opacity: 0;
}

@keyframes caret {
    50% {
        opacity: 0.3;
    }
}